.navbar {
    background-color: rgb(250, 223, 189);
    padding: 10px;  
}

.navbar .links {
    display: flex;
    column-gap: 10px;
    font-size: 32px;
    justify-content: center;
    align-items: center; 
}

.navbar .links .link {
    text-decoration: none;
}

.navbar .links .link:hover {
    color: cornflowerblue;
}